<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<style>
    h1 {
        font-family: 'Lato', monospace;
    }
</style>
<head>
    <style>
        input {
            resize: none;
            border-radius: 4px;
            border: 1px solid #ddd;
            padding: 0.5rem;
            color: #666;
            box-shadow: inset 0 0 0.25rem #ddd;
        }

            input[type="submit"] {
                transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,opacity 0.3s ease-in-out;
                background-color: gray;
                color: cornsilk;
            }

            input:focus {
                outline: none;
                border: 1px solid;
                box-shadow: inset 0 0 0.5rem;
            }

            input[type="submit"]:hover {
                color: black;
                background-color: #c6c6c6;
            }

        a {
            color: #9b4949
        }

            a:hover {
                color: black;
                text-decoration: none;
            }
    </style>
</head>
@model IEnumerable<Projekt_PlatformyDoOrganizacjiWydarzen.Models.EventsModel>

@{
    ViewData["Title"] = "Wydarzenia";
}

<h1>Wydarzenia</h1>

<p>
    <a asp-action="Create">Utwórz wydarzenie</a>
</p>
<form asp-controller="Movies" asp-action="Index">

    <p>
        Miejsce: <input type="text" name="placeString" class="input-style">
        Wydarzenie: <input type="text" name="nameString">
        Data pomiędzy: <input type="date" value="2019-01-01" name="startdata">
        i <input type="date" value="2019-01-01" name="enddata">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.event_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tickets)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.event_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tickets)
                </td>

                <td>
                    <a asp-action="Join" asp-route-id="@item.id">Dołącz</a> |
                    @if (ViewBag.userID == item.organizer || ViewBag.access == true)
                    {
                        <a asp-action="Edit" asp-route-id="@item.id">Edytuj</a> <text>|</text>
                    }
                    <a asp-action="Details" asp-route-id="@item.id">Szczegóły</a>
                    @if (ViewBag.userID == item.organizer || ViewBag.access == true)
                    {
                        <text>|</text> <a asp-action="Delete" asp-route-id="@item.id">Usuń</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
