@model Projekt_PlatformyDoOrganizacjiWydarzen.Models.TicketsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TicketsModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.event_type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.event_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.user_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.user_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.user_surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.user_surname)
        </dd>
        @if (ViewBag.details_NIP != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NIP)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NIP)
            </dd>
        }
    </dl>
</div>